* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    background: #9d8189
}

.navegacion {
    width: 1300px;
    margin: 10px auto;
    background: #ffe5d9;
}

    .navegacion ul {
        list-style: none;
    }

.menu li {
    display: inline-block;
}

    .menu li a {
        display: block;
        padding: 15px 50px;
        color: black;
        text-decoration: none;
    }

        .menu li a:hover {
            background: #f4acb7;
        }

.submenu {
    position: absolute;
    background: #ffe5d9;
    display: none;
}

.menu li:hover .submenu {
    display: block;
}

.submenu li a {
    display: block;
    padding: 15px;
}

.categorias {
    margin: 30px;
    width: 1300px;
    height: 400px;
    background-color: white;
    font-family: Britannic;
    font-size: 40px;
    align-content: center;
    margin-top:70px;
}

.animalesperdidos {
    margin: 70px;
    width: 22%;
    height: 310px;
    background-color: #dddad8;
    float: left;
    font-family: Britannic;
    font-size: 20px;
    margin-top:40px;
}

.animalesadopcion {
    margin: 70px;
    width: 22%;
    height: 310px;
    background-color: #dddad8;
    float: left;
    font-family: Britannic;
    font-size: 20px;
    margin-top: 40px;
}

.fundaciones {
    margin: 70px;
    width: 22%;
    height: 310px;
    background-color: #dddad8;
    float: left;
    font-family: Britannic;
    font-size: 20px;
    margin-top: 40px;
}

.boton {
    border: 1px solid #f4acb7;
    padding: 10px;
    background-color: #f4acb7;
    color: black;
    text-decoration: none;
    font-family: Britannic;
    border-radius: 10px;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "ImagenInicial Formulario";
  }
  
  .ImagenInicial 
   {
   background-color:#ffe5d9;
   }
  
  .formularioRegistro
   {
   background-color: #f4acb7;
   }
  
  
  html, body , .container {
    height: 95%;
    margin: 10px;
  }
  
 .Iniciar{
    margin-top: 20px;
    font-family: Britannic;
 }

 .inicio_s{
    border-radius: 2%;
    width: 80%;
    margin: 20px;
 }
  
 .circulo{

    background-color: #f4acb7;
   width: 80px;
   height: 80px;
    border-radius: 50%;
    margin: 10px;
    opacity: .7;
 }

 .circulo2{

    background-color: #ffe5d9;
   width: 80px;
   height: 80px;
    border-radius: 50%;
    margin: 10px;
    opacity: .7;
 }


 
 #contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
   
    
}

#central {
    max-width: 320px;
    width: 70%;
}


#login {
    width: 100%;
    padding: 50px 30px;
    background-color:#f4acb7;
    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color:#ffe5d9;
    
    margin-top: 10px;
}

#login button:hover {
    background-color:#9d8189;
    color:black;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color:black;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color:#9d8189;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}
 
  
  
  

